* {
  box-sizing: border-box;
}

body {
  margin: 0;
  overflow-x: hidden;
  font-family: "Marko One", serif;
}

.title {
  font-family: "Miltonian Tattoo", cursive;
}

.detail {
  font-family: Martel, serif;
}
